* {
    margin: 0;
    padding: 0;
}

.font{
    font-family: 'Acme', sans-serif;
}
body {
    background: url(https://images.pexels.com/photos/210661/pexels-photo-210661.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    font-family: 'Acme', sans-serif;
}

.center {
    text-align: center;
}


.box {
    margin: 0 auto;
    width: 50%;
    padding: 10px;
    padding-top: 20px;
    max-width: 900px;
}

.form-control-1 {
    background-color: #fff0 !important;
    border: 0 !important;
    border-bottom: 2px solid #fff !important;
    border-radius: 0 !important;
    color: #fff !important;
}

.list-group {
    color: #fff;
    font-size: 2rem;
}
.checkbox {
    width: 5rem;
    height: auto;
}